# Dictionary
# -> indexed
# -> ordered
# ->multiple values
# ->mutable

In [1]:
# defining dictionary
d={}
d=dict()
type(d)

dict

In [5]:
#  creating a dictionary
d={
    'a': "Apple",   #<key>:'value'
    'b': "Ball",
    'Phone': 9848004644,
    'age': 24
}
print(d['b'])
len(d)

Ball

4

In [8]:
# dictionary creation
d=dict()
d['a']='Kd'
d['b']='bikash'
d['c']='charan'
d['d']='dilip'
d

{'a': 'Kd', 'b': 'bikash', 'c': 'charan', 'd': 'dilip'}

In [10]:
d=dict()
n=int(input("Enter the number:"))
for i in range(n):
    name=input("Enter the name=")
    phone=int(input("Enter the number"))
    d[name]=phone
print(d)

{'malati': 9868, 'dilip': 67838}

In [11]:
#  reading key from dictionary
for i in d:
    print(i)

malati
dilip

In [12]:
#  reading value from dictionary
for i in d.values():
    print(i)

9868
67838

In [13]:
# reading key and values from dictionary
for i in d.items():
    print(i)

('malati', 9868)
('dilip', 67838)

In [14]:
# while converting dictionary into list the key value pair inside the dictionary become tuple
l=[]
for i in d.items():
    l.append(i)

print(l)

[('malati', 9868), ('dilip', 67838)]

In [15]:
# converting the list into dictionary
dict(l)

{'malati': 9868, 'dilip': 67838}

In [16]:
# updating the item key value inside the dicgtionary
d['malati']=1234    #here the value of key malati is changed from 9868 to 1234
d

{'malati': 1234, 'dilip': 67838}

In [17]:
# deleting the key value pair from dictionary using del()
del d['dilip']
print(d)

{'malati': 1234}

In [19]:
# deleting the key value pair from dictionary using pop()
a={'malati': 1234, 'dilip': 67838}
a.pop('dilip')
a

{'malati': 1234}

In [20]:
# list inside dict
d={
    'ram':[9847,9474],
    'shyam':[232,123]
}
print(d)

{'ram': [9847, 9474], 'shyam': [232, 123]}

In [2]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    phnNum1=int(input("Enter ntc number"))
    phnNum2=int(input("Enter ncell number"))
    d[name]=[phnNum1,phnNum2]
d

{'dilip': [123, 321], 'ram': [123, 456]}

In [4]:
# adding new key value pair in dictionary
d['kd']=[12,23]
d

{'dilip': [123, 321], 'ram': [123, 456], 'kd': [12, 23]}

In [3]:
# accessing specific value of key 
d['ram'][0]

123

In [6]:
d['ram'].append(123)
d

{'dilip': [123, 321], 'ram': [123, 456, 123, 123], 'kd': [12, 23]}

In [9]:
# dictionary inside dictionary
d=dict()
d={
    'ram':{'ntc':876,'ncell':4567},
    'shyam':{'ntc':789,'ncell':565}
}
d

{'ram': {'ntc': 876, 'ncell': 4567}, 'shyam': {'ntc': 789, 'ncell': 565}}

In [1]:
# creating dictionary inside dictionary
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name")
    ntcNum=int(input("Enter ntc no"))
    ncellNum=int(input("Enter ncell number"))
    d[name]={'ntc':ntcNum,'ncell':ncellNum}
print(d)

{'bikash': {'ntc': 9856, 'ncell': 4563}, 'hari': {'ntc': 6767, 'ncell': 987}}

In [ ]:
# Question : dictionary inside list and its CRUD operation