# tuple
# -Indexing
# ordered
# multiple data
# imutable

In [3]:
a=(1,2,3,4,5,6)      #-> tuple defining
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [5]:
a=('apple','ball','cat','dog')
print(a[1])
print(a[1:])

ball
('ball', 'cat', 'dog')

In [6]:
a=(1,2,3,4)
b=('apple','ball','cat')
c=a+b
print(c)

(1, 2, 3, 4, 'apple', 'ball', 'cat')

# in tuple we cant perform the action like append(),insert(),extend(),del,pop(),remove(),update etc

In [7]:
a=('apple')
print(type(a))

<class 'str'>

In [8]:
# for defining the tuple having single element
a=('apple',)
print(type(a))

<class 'tuple'>

In [10]:
# for concatenating the tuple
a=()
b=('dilip',)
c=('kd',)
d=a+b+c
d

('dilip', 'kd')

In [12]:
t=()
n=int(input("Enter tuple="))
for i in range(n):
    x=input("Enter x=")
    t=t+(x,)
print(t)

('malati', 'srijana', 'lalita')

# in tuple we can perform max(),min(),sum() fucntion in tuple

In [13]:
# converting the tuple into list
a=(1,2,3,4,'Apple','Ball')
b=list(a)           # converting tuple into list
print(b)
print(b,type(b))
del(b[0])
a=tuple(b)          # converting list into tuple
print(a)
print(type(a))

[1, 2, 3, 4, 'Apple', 'Ball']
[1, 2, 3, 4, 'Apple', 'Ball'] <class 'list'>
(2, 3, 4, 'Apple', 'Ball')
<class 'tuple'>

In [15]:
# tuple inside tuple
a=((1,2,3),(4,5,6),(7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [16]:
# creating tuple inside tupple
a=()
r=3
c=3
for i in range(r):
    t=()
    for j in range(c):
        
        x=input("Enter x=")
        t=t+(x,)
    a=a+(t,)
print(a)

(('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))

In [17]:
# converting tuple inside tuple to list inside list
b=[]
a=(('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))
for i in a:
    b.append(list(i))
print(b)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [18]:
# converting list inside list to tuple inside tuple
t=()
b=[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]
for i in a:
    
    t=t+(tuple(i))
print(t)
print(type(t))

('1', '2', '3', '4', '5', '6', '7', '8', '9')
<class 'tuple'>

In [20]:
# list inside tuple and 
t=([1,2,3],[4,5,6],[7,8,9])
t[0].append(4)
t

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [25]:
# creating list inside tuple
t=()
r=2
c=2
for i in range(r):
    l=[]
    for j in range(c):
        x=int(input("Enter x="))
        l.append(x)
    t=t+(l,)
t

([1, 2], [1, 2])

In [22]:
# tuple inside list
a=[(1,2,3),(4,5,6),(7,8,9)]
a[0]
a[0]+(4,)

(1, 2, 3, 4)

In [24]:
# append in a
a.append((10,11,12))
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12), (10, 11, 12)]

In [27]:
# sorting the tuple 
a=(324,456,678,34,45,23,12,6,7,8,9)
tuple(sorted(a))

(6, 7, 8, 9, 12, 23, 34, 45, 324, 456, 678)