In [1]:
# demonstration of sum function in tuple
a=(1,2,3,4,5,6,7)
print(sum(a))

28

In [3]:
# sorting the tuple element
a=(98,45,34,23,90,56,34,2,31,56,78,90,98)
print(a)
print("=========================================================")
a=tuple(sorted(a))
print("after sorting",a)

(98, 45, 34, 23, 90, 56, 34, 2, 31, 56, 78, 90, 98)
=========================================================
after sorting (2, 23, 31, 34, 34, 45, 56, 56, 78, 90, 90, 98, 98)

In [6]:
# demonstration of max and min fucntionn in tuple
a=(98,45,34,23,90,56,34,2,31,56,78,90,98)
print("maximum value",max(a))
print("minimum value",min(a))
range=max(a)-min(a)
print(range)

maximum value 98
minimum value 2
96

In [7]:
a=[1,2,3,4]
b=[1,2,3,4]
c=[]
for i in range(len(a)) :
    for j in range(len(b)):
        if i==j:
            c.append(a[i]*b[j])
sum(c)/sum(b)

3.0

In [11]:
a=([1,2,3],[4,5,6])
a[0][0:3]=[5,6,7]
a

([5, 6, 7], [4, 5, 6])

In [17]:
b=([1,2,3],[4,5,6])
b[0].pop()
print(b)

([1, 2], [4, 5, 6])

In [19]:
# creating tuple inside list
l=[]
x=3
r=3
for i in range(x):
    t=()
    for j in range(r):
        a=int(input("Enter the element"))
        t=t+(a,)
    l.append(t)
print(l)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [1]:
#  removing duplicate value from list
a=['hello','ram','hello','shyam','ram']
c=[]
for i in a:
    if i not in c:
        c.append(i)
    else: 
        pass
c

['hello', 'ram', 'shyam']

In [10]:
yard=int(input("Enter yard"))
if yard<1:
    print("SSh")
elif  yard<=10:
    print("ra"*yard)
elif yard>=11:
    print("high five")
else: 
    pass

rararararararararara

In [2]:
brushCost=40
paintCost=5
paintNumber=int(input("Enter the number of paints to be used"))
cost=brushCost+(paintCost*paintNumber)
totalCost=cost + ((cost/100)*10)
print("The total cost is ",totalCost)

The total cost is  99.0

In [21]:
def reverse(a):
    if len(a)==0:
        return a
    else: 
        return (a[1:])+a[0]

print (reverse("first"))

irstf